mixin exercise-quiz(template)
  - acessib_acessib_count = 1;
  .container-exercise-quiz( id!=template.id,
                            class!=template.class, 
                            repeat!=template.repeat, 
                            cache!=template.cache, 
                            peso!=template.peso, 
                            standardBtn!=template.confirmTxt, 
                            repeatBtn!=template.refazerTxt, 
                            cacheBtn!=template.reverTxt )
    .container-question 
      .main 
        .wrapper-altervatives
          each alternative in template.main.alternatives
            button.container-alternative(
              tabindex=acessib_count++,
              class!=alternative.class,
              status-alternative!=alternative.status,
              peso-alternative!=alternative.peso
            )
              if(alternative.selector)
                .selector!=alternative.selector

              p.text!= alternative.text
      .footer
        .container-btn.wrapper-button
          button.botao.hide.button-confirm(
            tabindex=acessib_count++
          )!="Confirmar"
      block
