mixin interaction-arrows(component)
  .container-interaction-arrows(class!=component.position)
    button.container-arrow.container-arrow-left.arrow-left(
      tabindex=1001,
      role="button",
      aria-label="Voltar para a tela anterior.",
      title="Seta para esquerda."
    )

    button.container-arrow.container-arrow-right.arrow-right(
      tabindex=1000,
      role="button",
      aria-label="Avançar para a próxima tela.",
      title="Seta para direita."
    )
